	<div class="row form-group">
		<div class="col-sm-2 form-control" style="background-color: orange;height: 50px" (click)="orange()">
		</div>
		<div class="col-sm-2">
			<h4>{{first}}</h4>
		</div>
		<div class="col-sm-2 form-control" style="background-color: blue;height: 50px" (click)="blue()">
		</div>
		<div class="col-sm-2">
			<h4>{{second}}</h4>
		</div>
		<div class="col-sm-2 form-control" style="background-color: green;height: 50px" (click)="green()">
		</div>
		<div class="col-sm-2">
			<h4>{{third}}</h4>
		</div>
	</div>
